@model AssetManager.Model.Employee

@{
    ViewData["Title"] = "Details";
}

<div class="ui container">
    <h1 class="ui header">Details</h1>

    <div class="ui segment">
        <h4 class="ui header">Employee</h4>
        <dl class="ui list">
            <dt>Global ID</dt>
            <dd>@Html.DisplayFor(model => model.GlobalId)</dd>

            <dt>First Name</dt>
            <dd>@Html.DisplayFor(model => model.FirstName)</dd>

            <dt>Last Name</dt>
            <dd>@Html.DisplayFor(model => model.LastName)</dd>

            <dt>Email</dt>
            <dd>@Html.DisplayFor(model => model.Email)</dd>

            <dt>Department</dt>
            <dd>@Html.DisplayFor(model => model.Department)</dd>

            <dt>Position</dt>
            <dd>@Html.DisplayFor(model => model.Position)</dd>
        </dl>
    </div>
    <a asp-action="Edit" asp-route-id="@Model?.EmployeeId" class="ui primary button">Edit</a>
    <a asp-action="Index" class="ui button">Back to List</a>
</div>
